#{extends 'main.html' /}
#{set title:'Guess' /}

<div id="wrap">
	<div class="tag-book">
		<div class="bd">
			<div class="tag-list clearfix">
				<div class="query-item">
					性别:
					<input type="radio" name="gender"/>男
					<input type="radio" name="gender"/>女
				</div>
				<div class="query-item">
					年龄:
					<input type="radio" name="gender"/>10~16
					<input type="radio" name="gender"/>14~20
					<input type="radio" name="gender"/>18~26
					<input type="radio" name="gender"/>24~30
					<input type="radio" name="gender"/>28~36
				</div>
				<div class="query-item">
					工作行业:
					<select>
						<option>教育</option>
						<option>互联网</option>
						<option>制造业</option>
					</select>
				</div>
			</div>
		</div>
		<div class="ft"></div>
	</div>
	<div class="layout972 clearfix">
		<div class="area" style="height:660px;padding:0 6px 6px;">
			<div class="shop455" style="top:0px;left:6px;">
				<div class="cover">
					<a href="/jie/chapter25">
						<img class="cover-pic" data-src="http://static.guang.com/img/topic/index/20120125/G1-025.jpg" alt="食全食美" src="http://static.guang.com/img/topic/index/20120125/G1-025.jpg">
					</a>
					<div class="title-line" style="background:#d78400;"></div>
				</div>
			</div>
		</div>
	</div>
</div>