#{extends 'main.html' /}
#{set title:'Guess' /}


<div id="guess-wrap">
	<div class="tag-book">
		<div class="bd">
			<div class="tag-list clearfix">
				<div class="query-item">
					<span class="middle">性别:</span>
					<input type="radio" name="gender" class="middle"/><span class="middle">男</span>
					<input type="radio" name="gender" class="middle"/><span class="middle">女</span>
				</div>
				<div class="query-item">
					<span class="middle">年龄:</span>
					<select class="middle">
						<option>&lt 10</option>
						<option>10~16</option>
						<option>17~23</option>
						<option>24~30</option>
						<option>31~37</option>
						<option>37~43</option>
						<option>44~50</option>
						<option>&gt 50</option>
					</select>
				</div>
				<div class="query-item">
					<span class="middle">工作行业:</span>
					<select class="middle">
						<option>教育</option>
						<option>互联网</option>
						<option>制造业</option>
					</select>
				</div>
				<div class="query-item">
					<span class="middle">消费水平:</span>
					<select class="middle">
						<option>学生</option>
						<option>工人</option>
						<option>普通白领</option>
						<option>高消费人群</option>
					</select>
				</div>
				<div class="query-item">
					<span class="middle">日常爱好:</span>
					<span class="middle"><input type="checkbox" name="" class="middle"/></span>
					<span class="middle">数码</span>
					<span class="middle"><input type="checkbox" name="" class="middle"/></span>
					<span class="middle">聚会</span>
					<span class="middle"><input type="checkbox" name="" class="middle"/></span>
					<span class="middle">旅游</span>
					<span class="middle"><input type="checkbox" name="" class="middle"/></span>
					<span class="middle">手工</span>
					<span class="middle"><input type="checkbox" name="" class="middle"/></span>
					<span class="middle">读书</span>
				</div>
				<div class="query-item">
					<button>猜猜看</button>
				</div>
			</div>
		</div>
		<div class="ft"></div>
	</div>
	<div class="layout972 clearfix">
		<div class="guess-area">
			<!-- goods -->
			<div class="goods">
				<div class="goods-pic" style="height:210px">            
					<a href="http://s.click.taobao.com/t_8?e=7HZ6jHSTbIOR%2B0kB8GfRNg%2BlN83gJBiuncAAIUcWEzLGIg%3D%3D&p=mm_30137934_0_0" target="_blank">                
						<img src="http://img.guang.com/product/78/21/100/1002178_1325592702411_210X315.jpg" height="210px">
					</a>
					
				</div>      
				<div class="goods-stat clearfix">
					<span class="like-num">喜欢</span>
				</div>                     
				<ul class="comments">  
				   <li>
			       		富含丰富蜂蜜，牛奶，人参精华，温和清洁肌肤，同事有美白功效，适用于干性中性皮肤。
			       </li>
				</ul>
			</div>
			<div class="goods">
				<div class="goods-pic" style="height:210px">            
					<a href="http://s.click.taobao.com/t_8?e=7HZ6jHSTbIKq8LI6FJZS2%2Bgn3fNYs%2FMp8RYOPLJHW7HSpg%3D%3D&p=mm_30137934_0_0" target="_blank">                
						<img src="http://img.guang.com/product/78/07/100/1000778_1325141447063_210X315.jpg" height="210px">
					</a>
					
				</div>      
				<div class="goods-stat clearfix">
					<span class="like-num">喜欢</span>
				</div>                     
				<ul class="comments">  
				   <li>
			       		富含丰富蜂蜜，牛奶，人参精华，温和清洁肌肤，同事有美白功效，适用于干性中性皮肤。
			       </li>
				</ul>
			</div>
			<div class="goods">
				<div class="goods-pic" style="height:210px">            
					<a href="http://s.click.taobao.com/t_8?e=7HZ6jHSTbIKnUX7sTSzqKYLWXzp%2FM%2B0a%2BSY3vqtrgywZHg%3D%3D&p=mm_30137934_0_0" target="_blank">                
						<img src="http://img.guang.com/product/28/45/100/1004528_1326686411025_210X315.jpg" height="210px">
					</a>
					
				</div>      
				<div class="goods-stat clearfix">
					<span class="like-num">喜欢</span>
				</div>                     
				<ul class="comments">  
				   <li>
			       		富含丰富蜂蜜，牛奶，人参精华，温和清洁肌肤，同事有美白功效，适用于干性中性皮肤。
			       </li>
				</ul>
			</div>
			<div class="goods">
				<div class="goods-pic" style="height:210px">            
					<a href="#" target="_blank">                
						<img src="http://img.guang.com/product/81/44/100/1004481_1326533155869_210X315.jpg" height="210px">
					</a>
				</div>      
				<div class="goods-stat clearfix">
					<span class="like-num">喜欢</span>
				</div>                     
				<ul class="comments">  
				   <li>
			       		富含丰富蜂蜜，牛奶，人参精华，温和清洁肌肤，同事有美白功效，适用于干性中性皮肤。
			       </li>
				</ul>
			</div>
			<div class="goods">
				<div class="goods-pic" style="height:210px">            
					<a href="#" target="_blank">                
						<img src="http://img.guang.com/product/88/44/100/1004488_1326532586087_210X315.jpg" height="210px">
					</a>
				</div>      
				<div class="goods-stat clearfix">
					<span class="like-num">喜欢</span>
				</div>                     
				<ul class="comments">  
				   <li>
			       		富含丰富蜂蜜，牛奶，人参精华，温和清洁肌肤，同事有美白功效，适用于干性中性皮肤。
			       </li>
				</ul>
			</div>
			<div class="goods">
				<div class="goods-pic" style="height:210px">            
					<a href="#" target="_blank">                
						<img src="http://img.guang.com/product/75/44/100/1004475_1326531499210_210X315.jpg" height="210px">
					</a>
				</div>      
				<div class="goods-stat clearfix">
					<span class="like-num">喜欢</span>
				</div>                     
				<ul class="comments">  
				   <li>
			       		富含丰富蜂蜜，牛奶，人参精华，温和清洁肌肤，同事有美白功效，适用于干性中性皮肤。
			       </li>
				</ul>
			</div>
			<div class="goods">
				<div class="goods-pic" style="height:210px">            
					<a href="#" target="_blank">                
						<img src="http://img.guang.com/product/95/45/100/1004595_1326706124336_210X315.jpg" height="210px">
					</a>
				</div>      
				<div class="goods-stat clearfix">
					<span class="like-num">喜欢</span>
				</div>                     
				<ul class="comments">  
				   <li>
			       		富含丰富蜂蜜，牛奶，人参精华，温和清洁肌肤，同事有美白功效，适用于干性中性皮肤。
			       </li>
				</ul>
			</div>
			<div class="goods">
				<div class="goods-pic" style="height:210px">            
					<a href="#" target="_blank">                
						<img src="http://img.guang.com/product/86/45/100/1004586_1326703615068_210X315.jpg" height="210px">
					</a>
				</div>      
				<div class="goods-stat clearfix">
					<span class="like-num">喜欢</span>
				</div>                     
				<ul class="comments">  
				   <li>
			       		富含丰富蜂蜜，牛奶，人参精华，温和清洁肌肤，同事有美白功效，适用于干性中性皮肤。
			       </li>
				</ul>
			</div>
			#{list items , as: 'i'}
			<div class="goods">
				<div class="goods-pic" style="height:210px">            
					<a href="${i.url}" target="_blank">                
						<img src="@{items.getImg(i.id)}" height="210px"/>
					</a>
				</div>      
				<div class="goods-stat clearfix">
					<span class="like-num">喜欢</span>
				</div>                     
				<ul class="comments">  
				   <li>${i.description }</li>
				</ul>
			</div>
			#{/list}
		</div>
		<!-- 分页 -->
		<div class="page-box" style="display: block;">
			<div class="pagin inlineblock clearfix" align="center">
				<a href="#">上一页</a>
				<a href="#">1</a>
				<span>2</span>
				<a href="#">3</a>
				<a href="#">4</a>
				<span>...</span>
				<a href="#">14</a>
				<a href="#">15</a>
				<a href="#">下一页</a>
			</div>
		</div>
	</div>
</div>