#{extends 'main.html' /}
#{set title:'Guess' /}
<script>
	function guess(_pageNo){
		$("#pageNo").val(_pageNo);
		$("#guessForm").submit();
	}
	$(document).ready(function(){
		$("input[name='guess_gender']").each(function(){
			if($(this).val()=='${flash.guess_gender}'){
				$(this).attr("checked","checked");
			}
		});
		$("select[name='guess_age'] option").each(function(){
			if($(this).val()=='${flash.guess_age}'){
				$(this).attr("selected","selected");
			}
		});
		$("select[name='guess_industry'] option").each(function(){
			if($(this).val()=='${flash.guess_industry}'){
				$(this).attr("selected","selected");
			}
		});
	});
</script>
<div id="guess-wrap">
	<div class="tag-book">
		<div class="bd">
			<div class="tag-list clearfix">
			<form id="guessForm" action="@{Items.guess()}" method="post">
				<input type="hidden" name="pageNo" id="pageNo" value="1"/>
				<div class="query-item">
					<span class="middle">性别:</span>
					<input type="radio" name="guess_gender" value="" class="middle"/><span class="middle">请选择</span>
					<input type="radio" name="guess_gender" value="1" class="middle"/><span class="middle">男</span>
					<input type="radio" name="guess_gender" value="0" class="middle"/><span class="middle">女</span>
				</div>
				<div class="query-item">
					<span class="middle">年龄:</span>
					<select class="middle" name="guess_age">
						<option value="">请选择</option>
						<option>&lt 10</option>
						<option>10~16</option>
						<option>17~23</option>
						<option>24~30</option>
						<option>31~37</option>
						<option>37~43</option>
						<option>44~50</option>
						<option>&gt 50</option>
					</select>
				</div>
				<div class="query-item">
					<span class="middle">工作行业:</span>
					<select class="middle" name="guess_industry">
						<option value="">请选择</option>
						<option>教育</option>
						<option>互联网</option>
						<option>制造业</option>
					</select>
				</div>
				<div class="query-item">
					<span class="middle">消费水平:</span>
					<select class="middle" name="guess_payLevel">
						<option>学生</option>
						<option>工人</option>
						<option>普通白领</option>
						<option>高消费人群</option>
					</select>
				</div>
				<div class="query-item">
					<span class="middle">日常爱好:</span>
					<span class="middle"><input type="checkbox" name="guess_hobby" class="middle"/></span>
					<span class="middle">数码</span>
					<span class="middle"><input type="checkbox" name="guess_hobby" class="middle"/></span>
					<span class="middle">聚会</span>
					<span class="middle"><input type="checkbox" name="guess_hobby" class="middle"/></span>
					<span class="middle">旅游</span>
					<span class="middle"><input type="checkbox" name="guess_hobby" class="middle"/></span>
					<span class="middle">手工</span>
					<span class="middle"><input type="checkbox" name="guess_hobby" class="middle"/></span>
					<span class="middle">读书</span>
				</div>
				<div class="query-button">
				  <div class="query-item">
						<button type="button" onclick="guess(1)">猜猜看</button>
						<button type="button">清空选项</button>
					</div>
				</div>
			</form>
			</div>
		</div>
		<div class="ft"></div>
	</div>
	<div class="layout972 clearfix">
		<div class="guess-area">
			<!-- goods -->
			#{list items , as: 'i'}
			<div class="goods">
				<div class="goods-pic" style="height:210px">            
					<a href="${i.url}" target="_blank">
						<img src="@{items.getImg(i.id)}" height="210px"/>
					</a>
				</div>      
				<div class="goods-stat clearfix">
					<span class="like-num">喜欢</span>
				</div>                     
				<ul class="comments">
				   <li>${i.description }</li>
				</ul>
			</div>
			#{/list}
		</div>
		#{include 'Application/pager.html'/}
	</div>
</div>
