#{extends 'main.html' /}
#{set title:'Special Day' /}

<script>
	function guess(_pageNo){
		$("#pageNo").val(_pageNo);
		$("#specialDayForm").submit();
	}
	function specialDay(_day){
		$("input[name='guess_specialDay']").val(_day);
		guess(1);
	}
	function openItem(_url,_itemId){
		$.post("@{Items.openItem()}",{
				"guess_specialDay":$("input[name='guess_specialDay']").val(),
				"itemId":_itemId
				});
		//window.open(_url);
	}
	$(document).ready(function(){
		$("input[name='guess_specialDay']").val('${flash.guess_specialDay}');
	});
</script>
<div id="guess-wrap">
	<div class="tag-book">
		<div class="bd">
			<div class="tag-list clearfix">
				<form id="specialDayForm" action="@{Items.specialday()}" method="post">
					<input type="hidden" name="pageNo" id="pageNo" value="1"/>
					<input type="hidden" name="guess_specialDay" value=""/>
					<ul class="specialday clearfix">
						<li><a href="#" onclick="specialDay('情人节')">情人节</a></li>
						<li><a href="#" onclick="specialDay('元宵节')">元宵节</a></li>
						<li><a href="#" onclick="specialDay('中秋节')">中秋节</a></li>
						<li><a href="#" onclick="specialDay('春节')">春节</a></li>
					</ul>
				</form>
			</div>
		</div>
		<div class="ft"></div>
	</div>
	<div class="layout972 clearfix">
		<div class="guess-area">
			<!-- goods -->
			#{list items , as: 'i'}
			<div class="goods">
				<div class="goods-pic" style="height:210px" align="center">
					<a href="#" onclick="openItem('${i.url}',${i.id})">
                      <img src="/item/images/${i.imgName}" height="210px"/>
                    </a>
				</div>      
				<div class="goods-stat clearfix">
					<span class="like-num">喜欢</span>
				</div>                     
				<ul class="comments">
				   <li>${i.description }</li>
				</ul>
			</div>
			#{/list}
			
		</div>
		<!-- 分页 -->
		#{include 'Application/pager.html'/}
	</div>
</div>
