#{extends 'main.html' /}
#{set title:'About' /}

<div id="about-wrap">
	<div class="layout1100 clearfix">
		<div class="aboutus">
			<div class="guess-man"></div>
			<div class="about-content">我们相信，每个人都应当有更愉快、更轻松的生活方式</div>
			<div class="about-content">每个人的生活都应当不断的出现惊喜，让每一天的生活更加精彩</div>
			<div class="about-content">当我们想到给自己、给家人、给朋友一些惊喜的时候，我们需要一些建议</div>
			<div class="about-content">基于这样的梦想</div>
			<div class="about-content">我们研究了人们的购物习惯、生活习惯等，将这些与人工智能、推荐引擎完美结合</div>
			<div class="about-content">创造了简单、实用和有趣的“喜欢·猜”</div>
			<div class="about-content">她将为您提供优质、准确的购物推荐和礼品建议，给你每一天的生活注入精彩！</div>
		</div>
	</div>
</div>