#{extends 'main.html' /}
#{set title:'About' /}

<div id="about-wrap">
	<div class="layout1100 clearfix">
		<div class="aboutus">
			<div class="guess-man"></div>
			<div class="about-content">情人节不知道送什么礼物给TA ?</div>
			<div class="about-content">过年回家不知道带什么给他们 ?</div>
			<div class="about-content">看望老朋友带点什么？</div>
			<div class="about-content"></div>
			<div class="about-content">现在，我们通过对大量购物网站进行分析，帮你推荐出最有趣，TA最可能感兴趣的礼物.</div>
			<div class="about-content">联系我们:royguo1988@gmail.com</div>
		</div>
	</div>
</div>