<div class="header">
		<div class="m-head">
			<div class="layout960 clearfix">
				<h1 style="color: #5AD;">
					喜欢•猜
				</h1>
			</div>
		</div>
		<div class="m-nav">
			<div class="layout960 clearfix">
				<ul class="channel clearfix">
					<li class="first">
						<a class="on" href="/">首页</a>
					</li>
					<li class="clearfix">
						<a class="" href="@{items.guess()}">猜你喜欢</a>
					</li>
					<li class="last clearfix">
						<a class="" href="@{items.guess()}">关于本站</a>
					</li>
				</ul>
			</div>
		</div>
</div>
