#{extends 'main.html' /}
#{set title:'Home' /}
#{set 'moreScripts'}
  #{script 'init.js' /}
#{/set}
<div id="wrap">
	<div class="layout972 clearfix">
		<div class="area" style="height:660px;padding:0 6px 6px;">
			<div align="center" style="font-size: 20px;line-height: 25px">下面有你么？</div>
			<div style="height: 350px">
				<div class="person-img" style="width: 250px">
					<img src="@{'/public/images/person/1.png'}"/>
					<div class="cover" onclick="window.location.href='@{items.guess()}' ">
						<div class="inner-cover">
					        <h3>李小小</h3> 
					        <p>85年天秤座</p>
					        <p>外企白领</p>
					        <p>喜欢摄影、咖啡、旅游和看电影</p>
					        <p>已婚</p>
				        </div>  
				   	</div> 
				</div>
				<div class="person-img" style="width: 250px">
					<img src="@{'/public/images/person/2.png'}"/>
					<div class="cover" onclick="window.location.href='@{items.guess()}' ">
						<div class="inner-cover">
					        <h3>张雨</h3> 
					        <p>88年IT男</p>
					        <p>小公司</p>
					        <p>喜欢电子产品、新鲜玩意</p>
					        <p>有个可爱的女朋友</p>
					    </div> 
				   	</div> 
				</div>
				<div class="person-img" style="width: 400px">
					<img src="@{'/public/images/person/3.png'}"/>
					<div class="cover" onclick="window.location.href='@{items.guess()}' ">
						<div class="inner-cover">
					        <h3>王力</h3> 
					        <p>80年稳重男</p>
					        <p>公司高管</p>
					        <p>有房有车，没什么特别追求</p>
					        <p>喜欢偶尔旅游、老朋友聚会</p>
					        <p>经常给别人买礼物</p>
					    </div> 
				   	</div>
				</div>
			</div>
			<div style="height: 340px">
				<div class="person-img" style="width: 300px">
					<img src="@{'/public/images/person/4.png'}"/>
					<div class="cover" onclick="window.location.href='@{items.guess()}' ">
						<div class="inner-cover">
					        <h3>成鹏</h3> 
					        <p>90年在校生</p>
					        <p>男</p>
					        <p>喜欢玩论坛，不玩网游</p>
					        <p>偶尔对计算机很有兴趣</p>
					        <p>单身很久，期待恋爱</p>
					    </div> 
				   	</div>
				</div>
				<div class="person-img" style="width: 330px">
					<img src="@{'/public/images/person/5.png'}"/>
					<div class="cover" onclick="window.location.href='@{items.guess()}' ">
						<div class="inner-cover">
					        <h3>张冰冰</h3> 
					        <p>88年双鱼女孩</p>
					        <p>公司HR</p>
					        <p>很喜欢看电影，尤其是爱情类</p>
					        <p>对古镇旅游充满幻想，但是总是很忙</p>
					        <p>总是要减肥但是嘴还是很馋</p>
					    </div> 
				   	</div>
				</div>
				<div class="person-img" style="width: 270px">
					<img src="@{'/public/images/person/6.png'}"/>
					<div class="cover" onclick="window.location.href='@{items.guess()}' ">
						<div class="inner-cover">
					        <h3>伍思</h3> 
					        <p>82年强势女主管</p>
					        <p>喜欢首饰、投资</p>
					        <p>对衣服很有品味，容不得凑合</p>
					        <p>烦心事儿是知心朋友不多</p>
					        <p>喜欢的东西一定要买</p>
						</div> 
				   	</div>
				</div>
			</div>
		</div>
	</div>
</div>