#{extends 'main.html' /}
#{set title:'Home' /}

<div id="wrap">
	<div class="layout972 clearfix">
		<div class="area" style="height:660px;padding:0 6px 6px;">
			<div align="center" style="font-size: 20px;line-height: 25px">下面有你么？</div>
			<div style="height: 340px">
				<div class="person-img"><a href="@{items.guess()}"><img width="250" src="@{'/public/images/person/1.png'}"/></a></div>
				<div class="person-img"><a href="@{items.guess()}"><img width="245" src="@{'/public/images/person/2.png'}"/></a></div>
				<div class="person-img"><a href="@{items.guess()}"><img width="400" src="@{'/public/images/person/3.png'}"/></a></div>
			</div>
			<div style="height: 340px">
				<div class="person-img"><a href="@{items.guess()}"><img width="300" src="@{'/public/images/person/4.png'}"/></a></div>
				<div class="person-img"><a href="@{items.guess()}"><img width="330" src="@{'/public/images/person/5.png'}"/></a></div>
				<div class="person-img"><a href="@{items.guess()}"><img width="270" src="@{'/public/images/person/6.png'}"/></a></div>
			</div>
		</div>
	</div>
</div>