#{extends 'main.html' /}
#{set title:'Home' /}

<div id="wrap">
	<div class="layout972 clearfix">
		<div class="area" style="height:660px;padding:0 6px 6px;">
			<div class="shop455" style="top:0px;left:6px;">
				<div class="cover">
					<a href="/jie/chapter25">
						<img class="cover-pic" data-src="http://static.guang.com/img/topic/index/20120125/G1-025.jpg" alt="食全食美" src="http://static.guang.com/img/topic/index/20120125/G1-025.jpg">
					</a>
					<div class="title-line" style="background:#d78400;"></div>
				</div>
			</div>
		</div>
	</div>
</div>